* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
  font-family: sans-serif;
}
.container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  background: #a4aac7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.cup {
  position: relative;
  top: 90px;
  left: 81px;
  width: 110px;
  height: 130px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}
.top {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}
.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 20px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.tea {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c57e65, #e28462);
  border-radius: 50%;
}

.handle {
  position: absolute;
  top: 29px;
  left: 46px;
  border: 15px solid #dcdcdc;
  width: 100px;
  height: 84px;
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-radius: 50%;
  transform: rotate(314deg);
}
.plate {
  position: absolute;
  top: 140px;
  left: 136px;
  transform: translateX(-50%);
  width: 180px;
  height: 100px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.plate::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}

.plate::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
  border-radius: 50%;
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}
