
body {
	background-image: url(../scoreKeeper/bg.jpg);
	background-size: cover;
	}

html {
	height: 100%;
}



.content {
	margin-right: 30%;
	margin-left: 35%;
	margin-top: 25%;
	color: white;
}

.green {
    color: green;
}