#motionPath {
    overflow: visible;
    height: 100%;
    max-width: 100%;
  }
  
  #motionPath path {
    stroke-width: 2;
    stroke: gray;
  }
  
  #motionPath .astronaut {
    visibility: hidden;
  }