* {
    font-family: 'Permanent Marker';
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

#d1 {
    display: flex;
    justify-content: center;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
    cursor: pointer;

}

#i1,
#i2,
#i4,
#i5 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#i6,
#i3 {
    border-bottom: 2px solid black;
}

#i7,
#i8 {
    border-right: 2px solid black;
}

#p1 {
    font-size: 30px;
}

#b1 {
    visibility: hidden;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}